{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<header class="bg-light text-center py-5 mb-4 border-bottom">
    <div class="container">
        <h1 class="display-4 mb-3">Welcome to <strong>MinuteNews</strong>!</h1>
        <p class="lead mb-2">
            <strong>MinuteNews</strong> is your go-to source for <strong>rapid updates</strong> and <strong>concise coverage</strong> on the most relevant topics. Our goal is to keep you informed with <strong>bite-sized news summaries</strong>, perfect for <strong>staying updated on the go</strong>.
        </p>
        <p class="text-muted mb-4">
            Built to deliver <strong>quick</strong>, <strong>accurate</strong>, and <strong>no-nonsense news</strong>, <strong>MinuteNews</strong> brings you <strong>fast-breaking updates</strong>, <strong>brief reports</strong>, and <strong>key insights</strong>. From top <strong>global headlines</strong> to the <strong>stories that matter locally</strong>, we’ve got you covered in a <strong>flash</strong>:
        </p>
    </div>
</header>

<!-- Carousel Section -->
{% include 'features/carousel.html' %}


<!-- News Cards Section -->
{% include 'features/news_cards.html' %}


{% endblock %}
